<ion-view>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-click="modal.show()" class="button button-icon icon ion-ios7-plus-empty"></button>
    </ion-nav-buttons>
    <ion-content class="has-header leave">
        <div class="row" ng-repeat="event in events | orderBy: 'start_date'">
              <div class="row event-wrapper">
                <div class="col">
                        <p>type: <b>{{event.type}}</b></p>
                        <p>status: <b>{{event.state}}</b></p>
                </div>
                <div class="col">
                    <div class="calendar-date">
                        <h2>{{event.start_date | amDateFormat:'D MMM'}}</h2>  
                    </div>
                    <div class="calendar-date">
                        <h2>{{event.end_date | amDateFormat:'D MMM'}}</h2>
                    </div>
                </div>
                <div ng-if="event.state === 'non validé'" class="item item-icon-right">
                      <i class="icon fa fa-pencil-square-o" ng-click="editModal.show(); setEventIndex($index)"></i>
                </div>
                <div ng-if="event.state === 'validé'" class="item item-icon-right">
                      <i class="icon fa fa-check-square-o"></i>
                </div>
              </div>
          </div>
    </ion-content>
    <script id="new-leave.html" type="text/ng-template">
      <div class="modal">
        <header class="bar bar-header bar-stable">
          <h1 class="title">Nouveau congé</h1>
          <div class="button button-clear pull-right" ng-click="modal.hide()"><span class="icon ion-ios7-close-empty pull-right"></span></div>
        </header>
        <ion-content class="has-header">
            <form ng-submit="addLeave()">
              <label class="item item-input item-select">
                <span class="input-label">Type</span>
                <select ng-model="modal.type">
                    <option>rtt</option>
                    <option>Anticipé</option>
                    <option>Annuel</option>
                    <option>Sans Solde</option>
                </select>
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Date de début</span>
                <input type="date" ng-model="modal.start_date">
              </label>
              <label class="checkbox">
                    <input class="checkbox" type="checkbox"><span>A partir de 12h</span>                   
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Date de fin</span>
                <input type="date" ng-model="modal.end_date">
              </label>
              <label class="checkbox">
                    <input class="checkbox" type="checkbox"><span>A partir de 12h</span>                   
              </label>
              <input type="submit" class="button button-positive padding" id="submit" value="Valider">
            </form>
        </ion-content>
      </form>
    </script>
    <script id="edit-leave.html" type="text/ng-template">
      <div class="modal">
        <header class="bar bar-header bar-stable">
          <h1 class="title">Modifier congé</h1>
          <div class="button button-clear pull-right" ng-click="editModal.hide()"><span class="icon ion-ios7-close-empty pull-right"></span></div>
        </header>
        <ion-content class="has-header">
            <form ng-submit="editModal.hide()">
              <label class="item item-input item-select">
                <span class="input-label">Type</span>
                <select ng-model="events[eventIndex].type">
                    <option>rtt</option>
                    <option>Anticipé</option>
                    <option>Annuel</option>
                    <option>Sans Solde</option>
                </select>
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Date de début</span>
                <input type="date" ng-model="events[eventIndex].start_date" placeholder="{{events[eventIndex].start_date}}">
              </label>
              <label class="checkbox">
                    <input class="checkbox" type="checkbox"><span>A partir de 12h</span>                   
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Date de fin</span>
                <input type="date" ng-model="events[eventIndex].end_date" placeholder="{{events[eventIndex].start_date}}">
              </label>
              <label class="checkbox">
                    <input class="checkbox" type="checkbox"><span>A partir de 12h</span>                   
              </label>
              <input type="submit" class="button button-positive padding" id="submit" value="Editer">
              <input class="button button-assertive padding" ng-click="deleteEvent(eventIndex)" value="Supprimer">
            </form>
        </ion-content>
      </form>
    </script>
</ion-view>
