<ion-view>
    <ion-pane drag-content="false">
    <div class="row">
        <img class="logo-login" src="img/eugena_logo.png">
    </div>
    <div class="row">
        <div class="list col padding login">
            <div class="list">
                <label class="item item-input ">
                    <input type="text" placeholder="Login" ng-model="login">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="password">
                </label>
                <button ng-click="authenticate(login, password)" class="button button-positive padding">Valider</button>
            </div>
        </div>
    </div>
    </ion-pane>
</ion-view>
