<ion-view  hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <header class="bar bar-header bar-stable">
      <h1 class="title">Acceuil</h1>
    </header>
    <ion-content class="has-header">
        <div class="row">
            <div class="col contact">
                <div class="list">
                    <div class="item item-divider">
                        Contact
                    </div>
                    <div class="item item-icon-left">
                        <i class="icon fa fa-home"></i>
                        32 Rue de Paradis 75010 Paris
                    </div>
                    <div class="item item-icon-left">
                        <i class="icon fa fa-mobile"></i>
                        <a href="tel:01 55 33 70 00">01 55 33 70 00</a>
                    </div>
                    <div class="item item-icon-left">
                        <i class="icon fa fa-fax"></i>
                        01 48 00 05 23
                    </div>
                    <div class="logo"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col information">
                <div class="list">
                    <div class="item item-divider">
                        Actualités
                    </div>
                    <div class="item item-text-wrap">
                        <h4>EUGENA Consulting intervient dans un projet de refonte Market Access Community pour IPSEN</h4>
                        <h6>Publié le 26 mai 2014 à 17:47</h6>
                        <p>Dans le cadre du programme de refonte et d’harmonisation des intranets Métiers et Produits pour le groupe IPSEN, EUGENA Consulting a mis en place les sites collaboratifs SharePoint 2013 « Market Access Community » avec comme objectif de permettre aux différents collaborateurs membres à l’international de travailler sur les sujets « Market Access & Pricing ». </p>
                    </div>
                    <div class="item item-text-wrap"><small><a class="pull-right" href="#/app/news">Voir toutes les actualités</a></small><div class="clearfix"></div></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col information">
                <div class="list">
                    <div class="item item-divider">
                        Dernier tweets
                    </div>
                    <div class="item item-text-wrap">
                        <h4>EUGENA Consulting</h4> <h6>@EUGENAConsult ·  Jun 16</h6>
                        <p>Les pays européens champions de la globalisation de leur marché IT <a href="http://www.lemondeinformatique.fr/actualites/lire-les-pays-europeens-champions-de-la-globalisation-de-leur-marche-it-57758.html?utm_source=mail&utm_medium=email&utm_campaign=Newsletter">lemondeinformatique.fr/actualites/...</a></p>
                    </div>
                    <div class="item item-text-wrap"><small><a class="pull-right" href="#/app/tweets">Voir tous les tweets</a></small><div class="clearfix"></div></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
